<section>
  <div class="container">
    <form>
      <label>
        Bill
        <!-- <svg>
            <use href="./img/icons.svg#icon-dollar"></use>
        </svg> -->
        <input type="number" placeholder="0"
      /></label>
      <label>
        Select Tip %
        <button>5%</button>
        <button>10%</button>
        <button>15%</button>
        <button>25%</button>
        <button>50%</button>
        <input type="number" placeholder="Custom" />
      </label>
      <label
        >Number of People
        <!-- <svg>
            <use href="./img/icons.svg#icon-people"></use>
        </svg> -->
        <input type="number" placeholder="0" />
      </label>
    </form>
    <div>
      <div>
        <p>Tip Amount <span>/ person</span></p>
        <p>$0.00</p>
      </div>
      <div>
        <p>Total <span>/ person</span></p>
        <p>$0.00</p>
      </div>
      <button type="reset">Reset</button>
    </div>
  </div>
</section>
