<section>
  <div class="container">
    <form class="calculator">
      <label>
        Bill
        <br>
        <!-- <svg>
            <use href="./img/icons.svg#icon-dollar"></use>
        </svg> -->
        <input type="text" placeholder="0"
      /></label>
      <label>
        Select Tip %
        <br>
        <button>5%</button>
        <button>10%</button>
        <button>15%</button>
        <button>25%</button>
        <button>50%</button>
        <input type="text" placeholder="Custom" />
      </label>
      <label
        >Number of People
        <br>
        <!-- <svg>
            <use href="./img/icons.svg#icon-people"></use>
        </svg> -->
        <input type="text" placeholder="0" />
      </label>
      <div>
        <div>
          <p>Tip Amount <span>/ person</span></p>
          <p>$0.00</p>
        </div>
        <div>
          <p>Total <span>/ person</span></p>
          <p>$0.00</p>
        </div>
        <button type="reset">Reset</button>
      </div>
    </form>
  </div>
</section>
