:root {
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  font-weight: 700;

  color: var(--c-text-primary);
  background-color: var(--c-bg-primary);

  --c-bg-primary: #c5e4e7;
  --c-bg-secondary: #ffffff;
  --c-bg-result: #00474b;
  --c-bg-button: #00474b;
  --c-bg-input: #f3f9fa;
  --c-text-primary: #5e7a7d;
  --c-text-secondary: #ffffff;
  --c-text-tertiary: #547878;
  --c-text-input: #00474b;
  --c-placeholder: rgba(0, 71, 75, 0.35);
  --c-shadow: rgba(79, 166, 175, 0.20);
  --c-accent: #26c0ab;
  --c-green-dark: #00494d;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}
