:root {
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  font-weight: 700;

  color: var(--c-text-primary);
  background-color: var(--c-background-primary);

  --c-background-primary: #c5e4e7;
  --c-background-secondary: #ffffff;
  --c-input-background: #F3F9FA;
  --c-text-primary: #5e7a7d;
  --c-text-secondary: #00474B;
  --c-shadow-light: #4fa6ae33;
  --c-accent: #26c0ab;
  --c-green-dark: #00494d;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}
