:root {
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  font-weight: 700;

  color: var(--c-text-primary);
  background-color: var(--c-bg-primary);

  --c-bg-primary: #c5e4e7;
  --c-bg-secondary: #ffffff;
  --c-bg-result: #00474b;
  --c-bg-button: #00474b;
  --c-bg-input: #f3f9fa;
  --c-text-primary: #5e7a7d;
  --c-text-secondary: #ffffff;
  --c-text-tertiary: #547878;
  --c-text-input: #00474b;
  --c-placeholder: rgba(0, 71, 75, 0.35);
  --c-shadow: rgba(79, 166, 175, 0.2);
  --c-accent: #26c0ab;
  --c-green-dark: #00494d;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  min-height: 100vh;
}

@media only screen and (min-width: 768px) {
  body {
    gap: 80px;
  }
}
