@use 'utils' as u;

$color-background: #c5e4e7;
$color-white: #ffffff;
$color-accente: #26c0ab;
$color-text: #5e7a7d;
$color-text-secondary: #7f9c9f;
$color-input: #f4fafa;
$color-icon: #9ebbbd;
$color-green: #00494d;
$color-shadow: #4fa6ae33;

$font-xs: u.rem(13);
$font-s: u.rem(16);
$font-m: u.rem(20);
$font-l: u.rem(24);
$font-lx: clamp(
    u.rem(32)
    1.647887323943662rem + 1.5023474178403755vw, 
    u.rem(48)
);